@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039;");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  flex-shrink: 1;
}

header {
  height: 56px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
  margin-left: 120px;
  margin-right: 120px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style-type: none;
  width: 292px;
  height: 28px;
  margin-right: 10px;
}
li {
  padding-right: 48px;
 
}

.div-one{
    width: 486px;
    height: 408px;
    position: fixed;
    top: 110px;
    left: 120px;
  
}
.ux{
    color:#FDC435;
    font-size: 20px;
    padding-bottom: 12px;
    font-weight: 700;
    font-family: Nunito;

}
.section-one h1{
    font-family: Playfair Display;
    font-size: 64px;
    line-height: 120%;
    padding-bottom: 32px;

}
.caption-one{
    color: #828282;
    font-family: Nunito;
    font-size: 24px;
    line-height: 150%;
    padding-bottom: 32px;
}
#button-one{
    background-color: #FFCC00;
    font-size: 18px;
    font-family: Roboto;
    padding: 8px 24px;
    border:2px solid #FDC435;
    border-radius: 8px;
}
#button-two{
    background-color:white;
    font-size: 18px;
    font-family: Roboto;
    padding: 8px 24px;
    margin-left: 12px;
    border-radius: 8px;
    border: 2px solid black;
}

.imag-one{
    width: 720px;
    height: 629px;
    position: fixed;
    left: 718px;
    top: 56px;
}