@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039;");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: normal;
  background-color: rgba(249, 250, 255, 1);
}

header {
  flex-shrink: calc(1);
  width: 1440px;
  height: 56px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-left: 120px;
  margin-right: 120px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style-type: none;
  width: 292px;
  height: 28px;
  margin-right: 10px;
}
li {
  padding-right: 48px;
}
.section-one {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-evenly;
}
.div-one {
  width: 486px;
  height: 408px;
  margin-right: 50px;
  margin-top: 54px;
}
.ux {
  color: #fdc435;
  font-size: 20px;
  padding-bottom: 12px;
  font-weight: 700;
  font-family: Nunito;
}
.section-one h1 {
  font-family: Playfair Display;
  font-size: 64px;
  line-height: 120%;
  padding-bottom: 32px;
}
.caption-one {
  color: #828282;
  font-family: Nunito;
  font-size: 24px;
  line-height: 150%;
  padding-bottom: 32px;
}
#button-one {
  background-color: #ffcc00;
  font-size: 18px;
  font-family: Roboto;
  padding: 8px 24px;
  border: 2px solid #fdc435;
  border-radius: 8px;
}
#button-two {
  background-color: white;
  font-size: 18px;
  font-family: Roboto;
  padding: 8px 24px;
  margin-left: 12px;
  border-radius: 8px;
  border: 2px solid black;
}
.div-two {
  text-align: right;
  position: relative;
  left: 112px;
}
.section-two {
  width: 992px;
  height: 1892px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 25%;
  top: 773px;
}
.section-two h2 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 4px;
}
.div-three {
  width: 992px;
  height: 524px;
  margin-top: 80px;
  background-color: white;
  border-radius: 24px;
}
.div-four {
  width: 406px;
  height: 232px;
  margin-top: 146px;
  margin-bottom: 145px;
  margin-left: 50.44px;
  margin-right: 39px;
  background-color: white;
}
.title {
  font-size: 40px;
  font-family: Playfair Display;
  line-height: 150%;
  margin-bottom: 24px;
}
.caption-two {
  color: #828282;
  font-family: Nunito;
  font-size: 18px;
}
#button {
  border-radius: 24px;
  width: 150px;
  height: 43px;
  border: 1px solid black;
  padding: 8px 24px 8 px 24px;
  background-color: rgb(255, 255, 255);
}
